---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #808080;
$blue-color:       #3498db;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Yellows
$yellow: #f1c40f;
$yellow-lightest: lighten($yellow, 36);
$yellow-lighter: lighten($yellow, 24);
$yellow-light: lighten($yellow, 12);
$yellow-dark: darken($yellow, 12);
$yellow-darker: darken($yellow, 24);
$yellow-darkest: darken($yellow, 36);

$color-infoBox--yellow__color: $yellow-darker;
$color-infoBox--yellow__color-hover: $yellow-darkest;
$color-infoBox--yellow__backgroundColor: $yellow-lighter;
$color-infoBox--yellow__border: $yellow;

// Gray
$white: #fff;
$white-dark: #f6f6f6;
$white-darker: #eee;
$gray: #808080;
$gray-lightest: lighten($gray, 36);
$gray-lighter: lighten($gray, 24);
$gray-light: lighten($gray, 12);
$gray-dark: darken($gray, 12);
$gray-darker: darken($gray, 24);
$gray-darkest: darken($gray, 36);
$black-lighter: #111;
$black-light: #090909;
$black: #000;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "info-boxes"
;
